
$primary-fg-color: #fafafa;
$primary-bg-color: #232634;
$button-bg-color: #838ba7;
$secondary-bg-color: #303446;
$accent-color: #ca9ee6;
$alt-text-color: $button-bg-color;

@import "../color-map-light"